## Clean the raw data

Load Packages

In [3]:
import pandas as pd
import numpy as np

Read File

In [4]:
path = 'raw.csv'
Russell_data = pd.read_csv(path)

Get rid of row which contains average and delete the "Versus" column

In [5]:
Russell_data = Russell_data[Russell_data['Date'] != "Average"]

Russell_data = Russell_data.drop("Versus", axis=1)

I assueme the 3P% and FT% to be zero if they didn't make any 3PA or FTA

In [6]:
Russell_data['3P%'].fillna(0, inplace=True)
Russell_data['FT%'].fillna(0, inplace=True)

Drop invalid value

In [7]:
Russell_data = Russell_data.dropna()   # Actually, there is no na value.

Split the score to three parts (Win/Lose; Team score; Opponent score)

In [8]:
Russell_data['Win/Lose'] = Russell_data['Score'].str[0]

score_split = Russell_data['Score'].str[1:].str.split('-', expand=True)

Russell_data['Team score'] = score_split[0]

Russell_data['Opponent score'] = score_split[1]

# Drop the original column of score
Russell_data = Russell_data.drop("Score", axis=1)

Split Date

In [9]:
Russell_data['DayOfWeek'] = Russell_data['Date'].str[:3]  # First three letters
Russell_data['date'] = Russell_data['Date'].str[3:]  # Rest of the string
Russell_data = Russell_data.drop("Date", axis=1)

Check data type and make score to be int and removing trailing spaces

In [ ]:
Russell_data['Team score'] = Russell_data['Team score'].astype('Int64')
Russell_data['Opponent score'] = Russell_data['Opponent score'].astype('Int64')

for column in Russell_data.select_dtypes(include=['object']):  # Select only columns with object dtype
    Russell_data[column] = Russell_data[column].str.strip()

Sort data by year

In [18]:
Russell_data = Russell_data.sort_values(by="Year")

,Team,Opponent,Min,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,TOV,PF,PTS,+/-,Year,Win/Lose,Team score,Opponent score,DayOfWeek,date
0,OKC,LAC,30.0,5.0,11.0,45.5,0.0,2.0,0.0,4.0,...,2.0,2.0,14.0,23.0,2009.0,W,126,85,Wed,4/15
43,OKC,MIA,37.0,4.0,12.0,33.3,0.0,1.0,0.0,6.0,...,4.0,2.0,14.0,-8.0,2009.0,L,94,104,Sun,1/18
1,OKC,POR,39.0,4.0,16.0,25.0,1.0,4.0,25.0,6.0,...,2.0,1.0,15.0,-24.0,2009.0,L,83,113,Mon,4/13
2,OKC,MIL,26.0,4.0,12.0,33.3,1.0,1.0,100.0,4.0,...,1.0,1.0,13.0,-12.0,2009.0,L,98,115,Sat,4/11
3,OKC,CHA,37.0,3.0,9.0,33.3,0.0,0.0,0.0,4.0,...,9.0,2.0,10.0,1.0,2009.0,W,84,81,Fri,4/10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,LAL,NOP,25.0,6.0,10.0,60.0,1.0,4.0,25.0,0.0,...,6.0,2.0,13.0,4.0,2023.0,W,120,117,Wed,11/2
1329,LAL,DEN,32.0,6.0,12.0,50.0,2.0,4.0,50.0,4.0,...,3.0,3.0,18.0,18.0,2023.0,W,121,110,Sun,10/30
1330,LAL,MIN,33.0,6.0,17.0,35.3,1.0,4.0,25.0,5.0,...,5.0,4.0,18.0,0.0,2023.0,L,102,111,Fri,10/28
1322,LAL,SAC,34.0,6.0,17.0,35.3,4.0,7.0,57.1,5.0,...,5.0,5.0,21.0,-13.0,2023.0,L,114,120,Fri,11/11
1333,LAL,GSW,31.0,7.0,12.0,58.3,1.0,3.0,33.3,4.0,...,4.0,1.0,19.0,-6.0,2023.0,L,109,123,Tue,10/18

Extra verified

In [21]:
years = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 
         2018, 2019, 2020, 2021, 2022, 2023]

for year in years:
    print(year, len(Russell_data[Russell_data["Year"] == year]))

2009 82
2010 88
2011 99
2012 86
2013 84
2014 65
2015 67
2016 98
2017 86
2018 86
2019 78
2020 65
2021 72
2022 78
2023 78

Create new CSV file

In [8]:
Russell_data.to_csv('Reorgnized_RB.csv', index=False)